.plans-page {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;

    .navbar {
        display: flex;
        justify-content: center;
        height: 56px;
        align-items: center;
        background-color: #EDEFFC;
        margin-bottom: 48px;

        .numberStepSelected {
            background-color: #4F4FFF;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 3px solid white;
            
            p {
                padding: 4px 8px;
                margin: 0;
                color: #ffffff;
            }
        }

        .numberStep {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid #7981B2;
            
            p {
                padding: 4px 8px;
                margin: 0;
                color: #7981B2;
            }
        }

        p {
            margin: 0 8px;
            align-content: center;
            color: #141938;
        }

        .line {
            margin: 0 16px;
        }
    }

    .back-button {
        background: none;
        border: none;
        color: #4F4FFF;
        font-size: 18px;
        margin-bottom: 20px;
        cursor: pointer;
    
        span{
          margin-left: 8px;
        }
      }
  
    h2 {
      font-size: 24px;
      margin-bottom: 10px;
      text-align-last: center;
      font-size: 40px;
    }
  
    p {
      margin-bottom: 20px;
      color: #666;
    }

    .plans-page-text{
        text-align: center;
    }
  
    .plan-selection {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      
  
      .plan-option {
        flex: 1;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.2s;
        margin: 0 80px;
  
        &:hover {
          background-color: #f0f8ff;
          border-color: #007bff;
        }
  
        h3 {
          font-size: 18px;
          margin-bottom: 5px;
        }
  
        p {
          font-size: 14px;
          color: #333;
        }

      }
  
    }
  
    .plan-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
  
      .plan-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 64px 48px;
        position: relative;
        text-align: left;

        .title {
            display: flex;
            justify-content: space-between;
        }

        ul {
            margin-top: 48px;
            padding: 0 16px;
            height: 224px;

            li{
                color: #141938;

            }
        }
  
        .recommended-badge {
          position: absolute;
          top: 10px;
          left: 10px;
          background-color: #ffdf00;
          color: #000;
          padding: 5px 10px;
          font-size: 12px;
          border-radius: 3px;
          font-weight: bold;
        }
  
        h3 {
          margin-top: 0;
          font-size: 20px;
          margin-bottom: 10px;
        }
  
        p {
          margin-bottom: 15px;
          color: #333;
        }

        .button-content {
            text-align: center;
        }
  
        .select-plan-button {
          margin-top: 15px;
          padding: 10px 15px;
          width: 224px;
          height: 48px;
          padding: 14px 32px 14px 32px;
          gap: 0px;
          border-radius: 32px;
          opacity: 0px;          
          cursor: pointer;
          transition: background-color 0.2s;
          background-color: #FF1C44;
          color: #ffffff;
          border: none;
        }
      }
    }
  }